*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #FEFEFE;
    text-shadow: 0 0.1rem 1rem black;
    -webkit-tap-highlight-color: transparent;
}
*:focus-visible {
    outline: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: 0.6s;
}
a:hover {
    color: #71ABFE;
}
body {
    background-color: #ffae00;
}

main {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 4rem;
    line-height: 5.25rem;
}
footer {
    display: flex;
    justify-content: space-between;
    border-top: 0.2rem solid #FEFEFE;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
}
.controls-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -2.7rem;
    margin-bottom: 1rem;
    order: 2;
}
.controls-container__label {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    padding: 0.5rem;
    user-select: none;
}
.controls-container__circle {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #71ABFE;
    border: 0.2rem solid #71ABFE;
    border-radius: 50%;
    transition: 0.6s;
    cursor: pointer;
}
.contols-container__input {
    display: none;
}
.controls-container__label:hover > .controls-container__circle {
    background-color: #FEFEFE;
    border: 0.2rem solid #FEFEFE;
}
.controls-container__label:active > .controls-container__circle {
    background-color: #BCBDBE;
    border: 0.2rem solid #BCBDBE;
}
.controls-container__label:has(.contols-container__input:checked) > .controls-container__circle {
    background-color: transparent;
}

.slider-container {
    margin: 1rem 8rem;
    overflow: hidden;
}
.slider-container__carousel {
    display: flex;
    transition: 0.6s;
}
.slider-container__image {
    border-radius: 1rem;
    min-width: 100%;
}

.caption-container {
    overflow: hidden;
    max-width: 60%;
    order: 1;
}
.caption-container__carousel {
    display: flex;
    transition: 0.6s;
}
.caption-container__text {
    margin: 1rem 0.5rem;
    letter-spacing: 0.2rem;
    min-width: 100%;
}

.controls-container:has(#input-1:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(0);
}
.controls-container:has(#input-2:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-100%);
}
.controls-container:has(#input-3:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-200%);
}
.controls-container:has(#input-4:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-300%);
}
.controls-container:has(#input-5:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-400%);
}

.controls-container:has(#input-1:checked) ~ .caption-container .caption-container__carousel {
    transform: translateX(0);
}
.controls-container:has(#input-2:checked) ~ .caption-container .caption-container__carousel {
    transform: translateX(calc(-100% - 1rem));
}
.controls-container:has(#input-3:checked) ~ .caption-container .caption-container__carousel {
    transform: translateX(calc(-200% - 2rem));
}
.controls-container:has(#input-4:checked) ~ .caption-container .caption-container__carousel {
    transform: translateX(calc(-300% - 3rem));
}
.controls-container:has(#input-5:checked) ~ .caption-container .caption-container__carousel {
    transform: translateX(calc(-400% - 4rem));
}

.footer-text {
    text-align: center;
    margin: 2rem;
    letter-spacing: 0.2rem;
}
.footer-text__center {
    margin-left: 9rem;
}
.footer-text__rs-logo {
    display: none;
    background: url('./assets/rs_school_js.svg') no-repeat;
}
.footer-text__gh-logo {
    display: none;
    background: url('./assets/github.svg') no-repeat;
}

/* 1280 - 0.5, 840 - RSS, 768 - mobile, 680 - check */
@media (max-width: 1280px) {
    .slider-container {
        margin: 1rem 0.5rem;
    }
}
@media (max-width: 910px) {
    .footer-text__rs-span {
        display: none;
    }
    .footer-text__rs-logo {
        display: block;
        min-height: 4rem;
        min-width: 6rem;
    }
}
@media (max-width: 768px) {
    .controls-container {
        align-self: center;
        margin: 1rem;
        order: 1;
    }
    .caption-container {
        max-width: 100%;
        order: 2;
    }
    .footer-text__center {
        margin-left: 25%;
    }
}
@media (max-width: 680px) {
    .footer-text__gh-span {
        display: none;
    }
    .footer-text__gh-logo {
        display: block;
        min-height: 2rem;
        min-width: 2rem;
    }
    .footer-text__center {
        margin-left: 0;
    }
}
