/* control #71ABFE */
/* hover control #FEFEFE */
/* active control #BCBDBE */
/* 600x1200 */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    color: #FEFEFE;
    -webkit-tap-highlight-color: transparent;
}
*:focus-visible {
    outline: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.6s;
}
a:hover {
    color: #71ABFE;
}
body {
    background-color: #54074b;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 5.25rem;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 0.2rem solid #FEFEFE;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
}
.controls-container {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0;
    order: 2;
}
.controls-container__label {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    padding: 0.5rem;
    user-select: none;
}
.controls-container__circle {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: #71ABFE;
    border: 0.2rem solid #71ABFE;
    border-radius: 50%;
    transition: 0.6s;
    cursor: pointer;
}
.contols-container__input {
    display: none;
}
.controls-container__label:hover > .controls-container__circle {
    background-color: #FEFEFE;
    border: 0.2rem solid #FEFEFE;
}
.controls-container__label:active > .controls-container__circle {
    background-color: #BCBDBE;
    border: 0.2rem solid #BCBDBE;
}
.controls-container__label:has(.contols-container__input:checked) > .controls-container__circle {
    background-color: transparent;
}

.slider-container {
    margin: 1rem 8rem;
    overflow: hidden;
}
.slider-container__carousel {
    display: flex;
    transition: 0.6s;
}
.slider-container__image {
    border-radius: 1rem;
    width: 100%;
}


.controls-container:has(#input-1:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(0);
}
.controls-container:has(#input-2:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-100%);
}
.controls-container:has(#input-3:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-200%);
}
.controls-container:has(#input-4:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-300%);
}
.controls-container:has(#input-5:checked) ~ .slider-container .slider-container__carousel {
    transform: translateX(-400%);
}

.footer-text {
    text-align: center;
    margin: 2rem;
    letter-spacing: 0.2rem;
}
.footer-text__center {
    margin-left: 9rem;
}
